@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Roboto:wght@100;300;400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 2rem;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

input {
  /* position: absolute; */
  display: inline-block;
  font-size: 16px;
  top: 0px;
  right: 0px;
  font-family: sans-serif;
}

.btn {
  padding: 0.75rem 2rem;
  background-color: rgb(100, 21, 255);
  color: #fff; 
  border-radius: 10000px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.purple {
  color: rgb(100, 21, 255);
  font-family: 'Inter', sans-serif;
}

/* NAV */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 0 16px; */
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  line-height: 36px;
  letter-spacing: 0.6px;
  font-size: 24px;
}

.logo__text {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  color: rgb(36, 62, 99);
}

.logo__text:hover {
  color: rgba(100,21,255, 1);
  transition: all 0.25s ease-in-out;
}

.logo__img {
  width: 40px;
  margin-right: 12px;
}

.nav__links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav__link {
  margin: 0 12px;
  color: rgb(36, 62, 99);
  font-weight: 500; 
  font-size: 0.875rem;
  margin: 0 1.5rem;
}


.nav__link--anchor:hover {
  color: rgb(100, 21, 255);
  font-weight: 900;
  transition: all 0.25s ease-in-out;
}


.nav__link--anchor-primary {
  transition: all 0.25s ease-in-out;
  color: #fff;
}

.nav__link--anchor-primary:hover {
  background-color: rgb(80,17,204);
}

/* SECTION 2 */

.header {
  height: calc(100vh - 40px);
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  height: 100%;
  max-width: 1280px;
}

.header__info {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin-right: 24px;
}

.header__info--img {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}

.header__info h1 {
  font-weight: 700;
  color: rgb(26, 32, 44);
}

.header__info p {
  text-align: left;
  margin: 2rem 0;

  line-height: 1.5rem;
  font-weight: 400;
}

.user__info {
  position: relative;
  max-width: 28rem;
  width: 100%;
  /* margin: 0 auto; */

}

input[type="Email"] {
  border-radius: 10000px;
  left: 0;
  top: 0;
  border-width: 2px;
  width: 100%;
  border: 2px solid #c2c4c9;  
  font-weight: 500;
  opacity: 0.5;
}

input[type="submit"] {
  background: rgb(100,21,255);
  font-weight: 800;
  border-radius: 10000px;
  border: none;
  color: #fff;
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 0.9rem 1.8rem !important;
  cursor: pointer;
}


.trusted-customer__img {
  display: flex;
  justify-content: flex-end;

}

.header__info--img img {
  min-width: 0px;
  width: 100%;
  /* max-width: 32rem; */
  vertical-align: middle;
  height: auto;
}

.trusted-customer__img img {
  width: 100%;
  opacity: 0.5;
  margin-top: 1rem;
}

/* FEATURES  */

.features__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.features__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.features__info--title {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 500;
  color: rgba(100,21,255,0.8);
  margin-bottom: 1rem;
}

.features__info--para {
  width: 100%;
  max-width: 36rem;
  text-align: center;
  line-height: 1.625rem;
  font-weight: 500;
  margin: 1rem;
  padding: 0 3rem;
  color: rgba(124,139,161,0.7);
}

.features__info--message {
  font-size: 2.25rem;
  font-weight: 900;
  letter-spacing: 0.025rem;
  text-align: center;
  font-family: 'Inter', sans-serif;
  margin: 1rem 0;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.features__list--item {
  display: flex;
  justify-content: center;
  width: calc(100%/3);
  padding: 2rem;
}

.item__description {
  display: flex;
  flex-direction: column;
}

.item__description h3 {
  margin-top: 1rem;
  letter-spacing: 0.025em;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1;
  color: rgba(36,62,99,1);
  text-align: left;
}

.item__description p {
  font-weight: 500;
  line-height: 2;
  color: rgba(124,139,161,1);
  text-align: left;
}


/* Quality Work */

.quality__work--container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.quality__work--img-wrapper {
  width: 60%;
}

.quality__work--description {
  
}

.quality__work--title {
  color: rgba(100,21,255, 1);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 700;
  text-align: left;
}

.quality__work--message {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  margin-top: 1rem;
  line-height: 1.25;
  letter-spacing: 0.025rem;
  color: rgb(36, 62, 99);
}

.quality__work--para {
  margin-top: 1rem;
  font-weight: 500;
  line-height: 1.625;
  color: rgb(124,139,161, 0.8);
  /* font-family: 'Inter', sans-serif; */
}

.quality__work--description button {
  margin-top: 2rem;
  font-size: 0.875rem;
}


.quality__work--img-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.quality__work--img {
  width: 80%;
  
}

@media (min-width: 640px) {

  .user__info input {
    padding: 1.25rem 12rem 1.25rem 1.25rem;
  }

  .features__info--message {
    font-size: 3rem;
  }

  .item__description p {
    margin-top: 1rem;
  }
}


@media (min-width: 768px) {
  .container {
    padding: 6rem 0;
  }
  .header__info h1 {
    font-size: 1.875rem;
  }

  .features__info--para {
    font-size: 1rem;
  } 

  .quality__work--message {
    text-align: left;
  }

  .quality__work--para {
    text-align: left;
  }
  
}

@media (min-width: 1024px) {
  .header__info h1 {
    font-size: 2.25rem;
  }
  
  .customer__list {
    margin-top: 5rem;
  }

  .trusted-customer--img img {
    width: 100%;
    padding-right: 4rem;
  }

  .customer__list h3 {
    font-size: 0.75rem;
    letter-spacing: 0.05rem;
    color: rgba(160, 174, 192, 0.4);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
  }

  .features__info--para {
    font-size: 1.125rem;
  } 

  .quality__work--message {
    font-size: 3rem;
  }

  .quality__work--para {
    font-size: 1.125rem;
  }
  
}

@media (min-width: 1280px) {
  .header__info h1 {
    font-size: 3rem;
  }
}








/* .user__info button {
  position: absolute;
  margin: 0.25rem 0;
  top: 90%;
  left: 98%;
  transform: translate(-100%, -100%);
  width: calc(100%/3);
  padding: 0.875rem 2rem;
  font-size: 16px; */